/* Brand Colors ------------------------------------------------*/
$color-button: #FAC232;
$font-color: #FFFFFF;
$font-color2: #000000;
$base-font-weight: 300;
$brand-font-1: '',san1-serif;
$brand-font-2: '',sans-serif;
